TZ=Europe/Berlin
DEV_DSF_FHIR_SERVER_ORGANIZATION_IDENTIFIER_VALUE={{ fdpg_portal_dsf_organization_identifier }}
DEV_DSF_FHIR_SERVER_BASE_URL=https://{{ fdpg_portal_dsf_domain }}/fhir
DEV_DSF_FHIR_SERVER_ORGANIZATION_THUMBPRINT={{ dsf_organization_thumbprint }}
DEV_DSF_FHIR_DB_URL=jdbc:postgresql://db/fhir
DEV_DSF_SERVER_AUTH_OIDC_AUTHORIZATION_CODE_FLOW=true
DEV_DSF_SERVER_AUTH_OIDC_BACK_CHANNEL_LOGOUT=true
DEV_DSF_SERVER_AUTH_OIDC_PROVIDER_REALM_BASE_URL=https://{{ fdpg_auth_domain }}/realms/feasibility
DEV_DSF_SERVER_AUTH_OIDC_PROVIDER_CLIENT_TRUST_SERVER_CERTIFICATE_CAS=/run/secrets/app_client_trust_certificates.pem
DEV_DSF_SERVER_AUTH_OIDC_CLIENT_ID=feasibility-webapp
DEV_DSF_SERVER_AUTH_OIDC_CLIENT_SECRET=foobar
DEV_DSF_SERVER_AUTH_OIDC_BEARER_TOKEN=true
DEV_DSF_FHIR_SERVER_ROLECONFIG="
- webbrowser_test_user:
    thumbprint: {{ webbrowser_test_user_thumbprint }}
    token-role: dsf_admin
    dsf-role:
      - CREATE
      - READ
      - UPDATE
      - DELETE
      - SEARCH
      - HISTORY
      - PERMANENT_DELETE
      - WEBSOCKET
    practitioner-role:
      - http://dsf.dev/fhir/CodeSystem/practitioner-role|DSF_ADMIN
- backend:
    thumbprint: {{ backend_thumbprint }}
    token-role: admin
    dsf-role:
      - CREATE
      - READ
      - UPDATE
      - DELETE
      - SEARCH
      - HISTORY
      - PERMANENT_DELETE
      - WEBSOCKET
    practitioner-role:
      - http://dsf.dev/fhir/CodeSystem/practitioner-role|DSF_ADMIN"
