TZ=Europe/Berlin
DEV_DSF_BPE_FHIR_SERVER_BASE_URL=https://{{ fdpg_portal_dsf_domain }}/fhir
DEV_DSF_BPE_DB_URL=jdbc:postgresql://db/bpe
DEV_DSF_BPE_PROCESS_EXCLUDED="{{ dsf_process_excluded | select() | join(',') }}"
