TZ=Europe/Berlin
DEV_DSF_BPE_FHIR_SERVER_BASE_URL=https://{{ fdpg_portal_dsf_domain }}/fhir
DEV_DSF_BPE_DB_URL=jdbc:postgresql://db/bpe
DEV_DSF_BPE_PROCESS_EXCLUDED="dsfdev_updateAllowList|1.0,medizininformatik-initiativede_reportAutostart|{{ dsf_process_report_version_number }},medizininformatik-initiativede_reportSend|{{ dsf_process_report_version_number }},medizininformatik-initiativede_mergeDataSharing|{{ dsf_process_data_sharing_version_number }},medizininformatik-initiativede_executeDataSharing|{{ dsf_process_data_sharing_version_number }},medizininformatik-initiativede_feasibilityExecute|{{ dsf_process_feasibility_version_number }}"
