DSF_FHIR_LOG_FOLDER_PATH=./log/fhir
DSF_BPE_PROCESS_PLUGINS_DIRECTORY_PATH=./process
DSF_BPE_LOG_FOLDER_PATH=./log/bpe
DSF_BPE_CACHE_FOLDER_PATH=./cache
DSF_DB_INIT_SCRIPT=./init-db.sh
DSF_DB_LIQUIBASE_PASSWORD_FILE={{ secrets_path }}/db_liquibase.password
DSF_DB_USER_PASSWORD_FILE={{ secrets_path }}/db_user.password
DSF_DB_USER_CAMUNDA_PASSWORD_FILE={{ secrets_path }}/db_user_camunda.password
DSF_DB_USER_PERMANENT_DELETE_PASSWORD_FILE={{ secrets_path }}/db_user_permanent_delete.password
DSF_CLIENT_CERTIFICATE={{ secrets_path }}/bpe.fdpg.{{ env }}.ffg.de.crt
DSF_CLIENT_PRIVATE_KEY={{ secrets_path }}/bpe.fdpg.{{ env }}.ffg.de.key
DSF_SERVER_CLIENT_CERTIFICATES_CA={{ secrets_path }}/trusted_cas.pem
DSF_CA_CERTIFICATE={{ secrets_path }}/trusted_cas.pem

