DATA_PORTAL_PROXY_NGINX_CONFIG={{ nginx_conf }}
DATA_PORTAL_PROXY_TRUSTED_CA_CERTIFICATE_PATH={{ trusted_cas }}
DATA_PORTAL_PROXY_CERTIFICATE_PATH={{ certificate }}
DATA_PORTAL_PROXY_CERTIFICATE_KEY_PATH={{ private_key }}
