PROXY_NGINX_CONFIG_PATH={{ nginx_conf }}
PROXY_TRUSTED_CA_CERTIFICATE_PATH={{ trusted_cas }}
FEASIBILITY_PORTAL_PROXY_CERTIFICATE_PATH={{ certificate }}
FEASIBILITY_PORTAL_PROXY_CERTIFICATE_KEY_PATH={{ private_key }}
