TZ=Europe/Berlin
DEV_DSF_BPE_FHIR_SERVER_BASE_URL=https://{{ domain }}/fhir
DEV_DSF_BPE_DB_URL=jdbc:postgresql://db/bpe
DEV_DSF_BPE_PROCESS_EXCLUDED="dsfdev_updateAllowList|1.0,medizininformatik-initiativede_reportReceive|{{ dsf_process_report_version_number }},medizininformatik-initiativede_mergeDataSharing|{{ dsf_process_data_sharing_version_number }},medizininformatik-initiativede_coordinateDataSharing|{{ dsf_process_data_sharing_version_number }},medizininformatik-initiativede_feasibilityRequest|{{ dsf_process_feasibility_version_number }}"

DE_MEDIZININFORMATIK_INITIATIVE_FEASIBILITY_DSF_PROCESS_CLIENT_FLARE_BASE_URL=https://triangle.diz.local/flare
DE_MEDIZININFORMATIK_INITIATIVE_FEASIBILITY_DSF_PROCESS_CLIENT_STORE_BASE_URL=https://triangle.diz.local/fhir/
DE_MEDIZININFORMATIK_INITIATIVE_FEASIBILITY_DSF_PROCESS_EVALUATION_STRATEGY={{ evaluation_strategy }}
DE_MEDIZININFORMATIK_INITIATIVE_FEASIBILITY_DSF_PROCESS_EVALUATION_OBFUSCATE={{ evaluation_obfuscate }}

DE_MEDIZININFORMATIK_INITIATIVE_REPORT_DIC_FHIR_SERVER_BASE_URL=https://triangle.diz.local/fhir

DE_MEDIZININFORMATIK_INITIATIVE_DATA_SHARING_DIC_FHIR_SERVER_BASE_URL=https://triangle.diz.local/fhir
