TZ=Europe/Berlin
DEV_DSF_BPE_FHIR_SERVER_BASE_URL=https://{{ domain }}/fhir
DEV_DSF_BPE_DB_URL=jdbc:postgresql://db/bpe
DEV_DSF_BPE_PROCESS_EXCLUDED="{{ dsf_process_excluded | select() | join(',') }}"

DE_MEDIZININFORMATIK_INITIATIVE_FEASIBILITY_DSF_PROCESS_CLIENT_FLARE_BASE_URL=https://triangle.diz.local/flare
DE_MEDIZININFORMATIK_INITIATIVE_FEASIBILITY_DSF_PROCESS_CLIENT_STORE_BASE_URL=https://triangle.diz.local/fhir/
DE_MEDIZININFORMATIK_INITIATIVE_FEASIBILITY_DSF_PROCESS_EVALUATION_STRATEGY={{ evaluation_strategy }}
DE_MEDIZININFORMATIK_INITIATIVE_FEASIBILITY_DSF_PROCESS_EVALUATION_OBFUSCATE={{ evaluation_obfuscate }}

DE_MEDIZININFORMATIK_INITIATIVE_REPORT_DIC_FHIR_SERVER_BASE_URL=https://triangle.diz.local/fhir

DE_MEDIZININFORMATIK_INITIATIVE_DATA_SHARING_DIC_FHIR_SERVER_BASE_URL=https://triangle.diz.local/fhir
