DEV_DSF_BPE_FHIR_SERVER_BASE_URL: "https://{{ dms_dsf_domain }}/fhir"
DE_MEDIZININFORMATIK_INITIATIVE_DATA_TRANSFER_DMS_FHIR_SERVER_BASE_URL: http://kds-store:8080/fhir
DE_MEDIZININFORMATIK_INITIATIVE_DATA_SHARING_DMS_FHIR_SERVER_BASE_URL: http://kds-store:8080/fhir
DEV_DSF_BPE_PROCESS_EXCLUDED=medizininformatik-initiativede_coordinateDataSharing|{{ data_sharing_version }},medizininformatik-initiativede_executeDataSharing|{{ data_sharing_version }},medizininformatik-initiativede_dataSend|{{ data_transfer_version }}
