TZ=Europe/Berlin
DEV_DSF_FHIR_SERVER_ORGANIZATION_IDENTIFIER_VALUE={{ dms_dsf_organization_identifier }}
DEV_DSF_FHIR_SERVER_BASE_URL=https://{{ dms_dsf_domain }}/fhir
DEV_DSF_FHIR_SERVER_ORGANIZATION_THUMBPRINT={{ dms_organization_thumbprint }}
DEV_DSF_FHIR_DB_URL=jdbc:postgresql://db/fhir
DEV_DSF_FHIR_SERVER_ROLECONFIG="
- webbrowser_test_user:
    thumbprint: {{ webbrowser_test_user_thumbprint }}
    token-role: admin
    dsf-role:
      - CREATE
      - READ
      - UPDATE
      - DELETE
      - SEARCH
      - HISTORY
      - PERMANENT_DELETE
      - WEBSOCKET
    practitioner-role:
      - http://dsf.dev/fhir/CodeSystem/practitioner-role|DSF_ADMIN"
